{% extends 'layout_admin.html.twig' %}

{% block body %}
    <div class="row marg_bot_20">
        <div class="col-md-12">
            <ul class="liste_btn_action">
                <li>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger supprimer_element" msg="Voulez-vous supprimer cette race" ><span class="fa fa-trash-alt"></span> Supprimer</button>
                    {{ form_end(delete_form) }}
                </li>
                <li>
                    <a class="btn btn-info" href="{{ path('etable_index') }}"><span class="fa fa-bars"></span> Liste des étables</a>
                </li>
            </ul>
        </div>
    </div>
    <h1>Etable</h1>

    <table class="table table-striped">
        <tbody>

            <tr>
                <th>Numero</th>
                <td>{{ etable.numero }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
